<div class="center jumbotron">
  <h1>Hogwarts Academic Scheduling</h1>
  <h2>Literal home page for course scheduling at Hogwarts School of Witchcraft and Wizardry.</h2>

  <%= link_to "Enroll in Classes", '#', class: "btn btn-lg brn-primary" %>

</div>

<%= link_to image_tag("hogwarts.jpg", alt: "Hogwarts logo"), 'https://pottermore.com/' %>